In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
import json
import requests
import csv
import os
from collections import OrderedDict
from IPython.display import display

In [200]:
def unique_list(l):
    list_set = set(l) 
    return list(list_set)
        
def get_sp_companies():
    data = pd.read_csv('sp500.csv')
    return data
    
# get stock data from yahoo finance
def get_stock_data(tickers, start=None, end=None, interval='1d', period=None):
    return yf.download(
        tickers=' '.join(tickers),
        start=start,
        end=end,
        period=period,
        interval=interval,
        group_by="ticker",
        auto_adjust=True,
        threads=True
    )

def get_period_performance(data, periods=[360], stat='Close', offset=0, weight=1):
    tickers = unique_list([x[0] for x in data.columns.values])
    columns = periods
    if offset > 0:
        columns += [f"Next_{offset}"]
    df = pd.DataFrame(columns=columns, index=tickers)

    for ticker in tickers:
        period_pctchanges = []
        for i, period in enumerate(periods):
            if offset > 0:
                chunk = data.iloc[-(period+offset):-offset]
            else:
                chunk = data.iloc[-(period+offset):]
            
            first_close = chunk[ticker].iloc[0]['Close']
            last_close = chunk[ticker].iloc[-1]['Close']
            period_pctchanges.append(((last_close - first_close) / first_close) * 100)
         
        df.loc[ticker] = period_pctchanges
        display(df)
            
    
# calculate performance data from dataframes
# using the periods and offset
def get_performance(data, periods=[360], stat='Close', offset=0):
    perf_data = {}
    for i, period in enumerate(periods):
        for t, d in data.iteritems():
            if t[1] == stat:
                chunk = None
                if offset > 0:
                    chunk = d[-(period+offset):-offset]
                else:
                    chunk = d[-(period+offset):]

                if not t[0] in perf_data:
                    perf_data[t[0]] = OrderedDict()

                perf_data[t[0]][period] = \
                    {'raw': (chunk[-1] - chunk[0]) / chunk[0] * 100}            
        
                #check if offset is used and we're at the last data period
                if offset > 0 and i == len(periods)-1:
                    new_chunk = d[-(offset):]
                    perf_data[t[0]][offset]['next_period'] = \
                        (new_chunk[-1] - new_chunk[0]) / new_chunk[0] * 100

    return perf_data

# weight the performance data based on the periods used
def get_weighted_performance(d, weight=1):
    for ticker, period in d.items():
        for period_key, perf_data in d[ticker].items():
            d[ticker][period_key]['weighted'] = \
                (weight / int(period_key)) * perf_data['raw']

    return d

# rank investements and calculate performance of next period
def get_new_investments(d):
    weighted_totals = []
    for ticker, perf_data in d.items():
        ticker_total = 0
        next_period = 0
        for period, data in perf_data.items():
            ticker_total += data['weighted']
            if 'next_period' in data:
                next_period = data['next_period']
        
        weighted_totals.append((ticker, \
            np.around(ticker_total, decimals=2), np.around(next_period, decimals=2,)))

    return weighted_totals

# sort tuples
def sort_list_of_tuples(l, reverse=True):  
    return(sorted(l, key = lambda x: x[1], reverse=reverse))

In [201]:
data_set_intervals = [
        #[144, 89, 34],
        #[144, 34, 8],
        #[34, 21, 13, 8, 5],
        #[89, 34, 13, 5],
        #[144, 55, 21, 8],
        [89, 21, 5],
    ]
sp500 = get_sp_companies()
#data = get_stock_data(tickers, period='2y', interval='1d')

In [202]:
data = None
data_file = 'sp500_data.pkl'
if os.path.exists(data_file):
    data = pd.read_pickle(data_file)
else:
    data = get_stock_data(list(sp500['Symbol'].values) + ['SPY'], period='2y', interval='1d')
    data.to_pickle(data_file)

In [203]:
pf_data = get_period_performance(data, [89, 21, 5], )
display(pf_data)

           89      21      5
NBL  -63.7549  31.723  19.242
PWR       NaN     NaN     NaN
EBAY      NaN     NaN     NaN
AEP       NaN     NaN     NaN
DLTR      NaN     NaN     NaN
...       ...     ...     ...
TXN       NaN     NaN     NaN
OMC       NaN     NaN     NaN
SO        NaN     NaN     NaN
WELL      NaN     NaN     NaN
COF       NaN     NaN     NaN

[506 rows x 3 columns]

           89       21      5
NBL  -63.7549   31.723  19.242
PWR  -17.4094  8.08261  1.0107
EBAY      NaN      NaN     NaN
AEP       NaN      NaN     NaN
DLTR      NaN      NaN     NaN
...       ...      ...     ...
TXN       NaN      NaN     NaN
OMC       NaN      NaN     NaN
SO        NaN      NaN     NaN
WELL      NaN      NaN     NaN
COF       NaN      NaN     NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP       NaN      NaN      NaN
DLTR      NaN      NaN      NaN
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR      NaN      NaN      NaN
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

           89       21       5
NBL  -63.7549   31.723   19.242
PWR  -17.4094  8.08261   1.0107
EBAY  10.1128  30.4708  4.54304
AEP  -10.1011  1.74817  0.38596
DLTR -19.0135 -4.60711 -5.87196
...       ...      ...      ...
TXN       NaN      NaN      NaN
OMC       NaN      NaN      NaN
SO        NaN      NaN      NaN
WELL      NaN      NaN      NaN
COF       NaN      NaN      NaN

[506 rows x 3 columns]

KeyboardInterrupt:

In [49]:
print("Sector strength according to STOCKINATOR")
print(f"Date of report: {datetime.datetime.now()}")

for days_back in data_set_intervals:
    print()
    print(f"Intervals and weighting used: {days_back}")
    
    #offset = 0
    #offset = days_back[-1]
    offset = days_back[len(days_back)-2]
    raw_perf_data = get_performance(data, periods=days_back, offset=offset)
    weighted_perf_data = get_weighted_performance(raw_perf_data, weight=days_back[-1])
    new_stocks = get_new_investments(weighted_perf_data)
    
    print(f"Ticker, Rank, Performance Next {offset}")
    sorted_stocks = sort_list_of_tuples(new_stocks)
    for stock in sorted_stocks:
        print(f"{stock[0]}, {stock[1]}, {stock[2]}")

Sector strength according to STOCKINATOR
Date of report: 2020-04-26 11:08:21.580706

Intervals and weighting used: [89, 21, 5]
Ticker, Rank, Performance Next 21
EVHC, nan, nan
WYNN, 51.46, 7.13
AAL, 39.57, -34.16
CCL, 39.24, -33.16
NBL, 37.08, 31.72
LLL, nan, nan
HAS, 35.04, 9.64
ALGN, 22.85, 0.17
UNM, 22.37, -1.44
HAL, 22.36, 25.67
ULTA, 22.24, 11.49
MOS, 20.8, 5.69
CNP, 12.66, 4.97
LOW, 12.08, 12.73
MU, 12.01, -1.41
AMD, 11.53, 18.27
TEL, 8.27, 2.86
ROK, 8.21, 9.61
PKI, 7.88, 10.91
PWR, 6.84, 8.08
KSU, 6.46, -1.55
DLTR, 3.0, -4.61
TTWO, 2.57, 10.96
APH, 2.37, 8.84
CHTR, 1.93, 11.97
CI, 1.87, 11.01
CMI, 1.54, 9.49
MET, 0.06, 2.37
KHC, -0.5, 18.01
AMP, -1.4, -3.06
HII, -1.49, -5.53
LH, -2.22, 19.46
VRSN, -2.67, 20.6
PEG, -3.44, 16.72
SHW, -4.09, 8.56
DLR, -4.31, 11.85
LEG, -4.5, -1.42
NI, -7.23, 6.03
XYL, -7.6, 0.75
GPC, -7.91, 9.31
DGX, -8.4, 20.76
AWK, -8.45, 4.77
TXT, -9.22, -7.53
BAX, -10.03, 15.9
EBAY, -10.53, 30.47
JNJ, -10.63, 22.35
MAA, -10.69, 4.48
FAST, -11.11, 11.51
HRL, -12.29, 4.44
HBAN, -12.38, -4.0
PG, -13.64, 11.35
WEC, -15.77, 8.07
AEP, -16.19, 1.75
MSI, -17.51, 2.56
AMG, -18.25, 6.07
RJF, -18.61, -4.27
KR, -18.64, 13.66
MAC, -18.97, -12.07
L, -20.27, -8.5
BEN, -22.2, -11.24
MON, nan, nan
VIAB, nan, nan
ADS, 34.49, 7.59
HCP, nan, nan
RCL, 74.26, -12.14
PX, nan, nan
TSS, nan, nan
UAL, 57.89, -28.1
DAL, 33.18, -29.31
BHF, 29.84, -15.67
ROST, 15.97, -0.13
LRCX, 14.59, 2.43
COP, 8.88, 12.46
MPC, 8.31, 11.32
EXPD, 7.44, 10.32
ALL, 3.1, 13.34
MCD, 2.95, 9.96
V, 2.47, -0.92
DTE, 0.98, 5.14
ZBH, -1.36, 15.47
EQIX, -2.07, 16.6
TMK, nan, nan
BBT, nan, nan
DRI, 24.3, 13.64
AET, nan, nan
NEM, 14.59, 30.72
MA, 9.11, -1.53
NTRS, 2.17, 2.71
STX, 2.06, 1.38
SEE, 0.87, 9.16
SCG, 0.0, 0.0
FLS, -1.89, 6.64
AYI, -2.87, -2.53
IPG, -3.05, -11.42
CSCO, -3.53, 5.77
ORLY, -3.92, 17.78
BIIB, -4.09, -2.34
NSC, -4.71, 9.37
VRSK, -6.07, 4.53
DISCA, -7.26, 0.43
CVS, -8.1, 7.75
APC, nan, nan
COL, 2.59, -6.06
KIM, -2.72, -21.76
RHI, -3.0, 1.38
SBAC, -4.35, 15.61
ADSK, -4.98, 12.1
RMD, -5.05, 9.88
PPL, -6.55, 3.32
VLO, -8.08, 15.13
VAR, -8.49, 0.43
ABT, -9.1, 24.6
JCI, -9.76, 3.37
PEP, -9.77, 11.72
FLR, -9.89, 24.45
RSG, -10.2, -1.16
CMS, -10.98, 4.32
ABBV, -11.21, 14.91
CFG, -12.31, -0.58
CL, -14.91, 12.56
SLG, -16.92, -7.6
ABC, -17.8, 5.39
WBA, -19.6, -4.23
NLSN, -19.71, -9.7
KORS, nan, nan
RHT, nan, nan
VTR, 26.86, -0.82
WDC, 24.71, -6.92
MAR, 18.71, -2.54
LEN, 18.18, 1.38
WMB, 14.84, 28.28
KMI, 12.91, 0.97
TSN, 12.42, -3.67
LYB, 11.15, -7.19
INTC, 7.61, 6.7
XL, nan, nan
EOG, 8.05, 10.67
CTXS, 6.34, 5.97
IDXX, 5.76, 17.98
PRU, 5.06, 2.07
MDT, 4.01, 8.01
FBHS, 2.44, -1.64
FMC, 2.07, 10.6
SNPS, 1.32, 19.58
FDX, 0.33, -2.02
FITB, -0.01, 0.43
TIF, -0.45, -2.15
JPM, -0.64, -6.59
HOG, -0.69, -10.02
TRV, -1.22, 2.18
HSY, -1.98, 2.48
FOXA, -2.0, -0.54
ETR, -2.42, 0.85
UPS, -2.91, 0.4
AOS, -3.04, 8.34
LMT, -3.96, 8.97
PRGO, -4.38, 10.51
NWL, -4.48, -8.5
AMGN, -5.87, 19.04
HPE, -5.9, -9.5
HSIC, -6.03, -2.18
CB, -6.83, -4.76
MKC, -6.95, 17.67
GOOG, -7.09, 10.12
MRK, -7.91, 10.74
NUE, -7.97, 14.29
WFC, -8.34, -12.88
SLB, -9.53, 3.8
ANSS, -9.62, 12.62
NTAP, -9.78, 2.67
WU, -10.02, -10.89
COST, -10.33, 6.24
ACN, -10.82, 2.87
MCK, -11.44, 6.29
KMB, -12.15, 14.23
REGN, -12.34, 25.18
IP, -12.59, 0.39
ALLE, -12.92, -0.22
CLX, -13.13, 10.74
IT, -13.59, 4.41
KSS, -13.71, -12.03
TGT, -14.68, 12.23
T, -15.94, -1.2
TROW, -16.77, -0.99
NWSA, -18.44, -3.6
IVZ, -21.4, -20.49
PBCT, -24.19, -1.82
BF.B, nan, nan
NFX, nan, nan
AFL, 29.73, 1.45
CELG, nan, nan
NAVI, 17.08, -12.89
HLT, 16.75, -2.5
ANDV, nan, nan
F, 12.39, -7.24
HST, 11.27, -9.31
PFG, 11.24, -11.43
URI, 10.73, 6.93
YUM, 8.98, 13.39
ISRG, 7.47, 2.68
HD, 6.25, 8.69
GPN, 6.02, 0.09
DXC, 5.31, 3.98
BWA, 5.29, 8.58
INFO, 5.27, 10.14
O, 4.25, -14.09
EL, 3.87, -3.86
ETFC, 3.59, 8.02
MMC, 3.49, 9.22
UNP, 3.32, 9.54
HCA, 2.5, 14.18
HON, 2.15, -1.37
NRG, 1.94, 15.44
WLTW, 1.85, 7.52
FTI, 1.31, 13.28
MAS, -2.16, 12.57
ALXN, -2.67, 25.52
SPY, -2.74, 8.33
AAPL, -3.95, 9.49
SPG, -4.05, -17.09
ARE, -4.14, 6.19
SJM, -4.33, 13.85
WAT, -4.43, -0.05
BMY, -4.57, 20.12
EA, -4.7, 17.25
AGN, -4.73, 6.9
PVH, -4.76, 5.97
SYK, -4.8, 15.6
DVA, -4.83, 0.35
VRTX, -4.84, 20.21
CHRW, -6.6, 9.7
STZ, -6.78, 12.89
CCI, -7.26, 13.43
CME, -7.35, 4.51
MAT, -7.42, -7.73
KEY, -8.05, -4.89
LNT, -8.4, 4.34
HOLX, -8.79, 38.48
FE, -9.02, 9.44
WMT, -9.63, 17.87
FLIR, -11.99, 17.44
UDR, -12.27, 2.46
D, -12.31, 7.56
FL, -13.43, 0.21
MTD, -13.94, 8.21
ED, -17.03, 8.85
NWS, -17.12, -1.86
DISH, -18.3, 4.84
EQR, -19.14, 8.04
RRC, -21.47, 127.27
TWX, nan, nan
CBS, nan, nan
DPS, nan, nan
BHGE, nan, nan
SYMC, nan, nan
GGP, nan, nan
EXPE, 26.08, 3.35
SYY, 11.66, 0.33
GM, 11.45, -2.7
RTN, 10.83, nan
PNR, 9.35, 4.78
BKNG, 8.74, -3.07
PCG, 7.69, 8.38
PXD, 7.1, 5.02
CDNS, 6.99, 20.29
AVGO, 6.79, 8.9
AJG, 5.74, -6.81
PPG, 4.96, 3.32
LKQ, 4.4, -4.13
UNH, 3.51, 14.06
BBY, 3.37, 14.31
FISV, 2.29, -1.43
INCY, 0.96, 41.66
DIS, 0.06, -3.96
FTV, -0.36, 16.78
HUM, -0.43, 21.48
VMC, -0.63, -0.19
PYPL, -1.23, 19.43
PSX, -1.49, 11.29
CAG, -2.13, 22.73
WRK, -2.91, 1.73
ADP, -3.25, 1.58
APA, -3.3, 86.14
ADBE, -3.44, 6.64
AME, -3.87, 6.42
CTAS, -3.98, 3.95
NEE, -4.06, 3.72
TSCO, -4.28, 22.16
PAYX, -4.5, 3.7
CTSH, -4.65, 8.01
BLK, -4.82, 5.14
PM, -5.1, 3.53
RF, -6.55, -0.61
IFF, -6.58, 10.42
UHS, -6.82, 10.68
GOOGL, -6.83, 9.78
NKTR, -7.39, 11.94
CERN, -8.0, 19.54
UA, -8.61, 2.4
XEL, -8.97, 11.5
MTB, -9.21, -5.1
QCOM, -9.41, 10.23
BAC, -9.75, -2.38
XRAY, -9.88, -0.23
LLY, -9.98, 21.27
CAH, -10.4, 11.95
PNC, -10.57, -0.98
ECL, -11.21, 11.37
HIG, -12.7, 3.15
BLL, -13.75, 4.33
AIV, -14.68, 6.3
CPB, -16.15, 17.3
RE, -17.0, -12.55
CTL, -19.05, 9.9
ESRX, nan, nan
CSRA, nan, nan
TRIP, 20.45, -6.82
LB, 19.3, -21.54
DFS, 18.2, -13.14
LNC, 15.2, 6.31
CMG, 14.8, 33.49
MHK, 13.55, -4.05
PH, 11.48, 3.37
AXP, 9.9, -10.35
CF, 8.84, -0.88
ALK, 8.77, -13.79
GT, 7.51, 11.79
ILMN, 7.12, 12.63
CA, nan, nan
AIG, 11.94, -15.12
GE, 7.39, -22.91
IQV, 7.05, 16.56
SWKS, 5.44, 3.82
AMAT, 3.75, 5.16
INTU, 2.99, 6.38
EIX, 2.54, 3.83
SBUX, 1.57, 8.13
FFIV, 1.54, 11.64
EW, 1.31, 12.05
MLM, 1.25, -9.01
PGR, 1.22, 9.44
ZTS, 0.4, 6.96
HES, -0.01, 15.76
GPS, -0.72, -15.22
IBM, -1.43, 10.48
ORCL, -1.89, 5.51
BK, -2.07, 8.36
TJX, -3.04, -3.98
ETN, -3.3, 0.78
CAT, -4.31, 4.15
ATVI, -4.99, 16.23
DRE, -5.06, 11.95
EMR, -5.3, 10.29
NOV, -5.99, 6.84
MYL, -6.09, 1.42
PFE, -6.7, 17.73
IRM, -6.94, -7.62
NOC, -7.19, 5.64
OKE, -7.29, 17.3
NDAQ, -7.44, 12.59
IR, -7.95, 18.84
OXY, -8.2, 7.64
UAA, -8.62, 1.11
RL, -9.22, -8.1
TAP, -10.36, 11.42
VZ, -10.72, 9.36
ROP, -11.13, 0.19
K, -11.51, 9.09
COO, -12.36, 3.96
GIS, -13.76, 22.02
USB, -14.56, -4.91
ZION, -16.9, 7.64
CINF, -17.61, -0.24
SRCL, -22.81, 7.9
MRO, -24.14, 27.06
DWDP, nan, nan
DVN, -8.0, 42.93
LUK, nan, nan
MGM, 52.74, 3.64
BA, 47.8, -28.56
HRS, nan, nan
KMX, 23.62, 16.48
FCX, 17.05, 21.32
APTV, 13.57, 13.49
AIZ, 12.17, -0.66
PHM, 11.86, -0.27
STI, nan, nan
WYN, nan, nan
JEC, nan, nan
ARNC, nan, nan
NCLH, 89.6, -30.87
LUV, 21.36, -28.86
COTY, 19.74, -6.14
MCHP, 17.61, 10.05
HP, 16.19, -6.23
NVDA, 14.53, 12.58
DHI, 13.46, 4.25
CVX, 11.36, 13.92
MCO, 11.2, 9.3
FIS, 9.93, 1.69
NKE, 8.2, 4.83
SWK, 7.93, 0.47
SRE, 7.72, 2.73
EQT, 7.57, 92.39
AES, 7.49, -4.74
PLD, 7.14, 14.61
DOV, 6.37, 7.52
TPR, 6.31, -10.03
JBHT, 5.65, 8.4
UTX, 5.6, nan
KLAC, 5.1, 10.12
EMN, 3.98, 19.44
SPGI, 3.92, 15.92
TDG, 3.55, -24.17
IPGP, 3.36, 3.35
JNPR, 2.65, 14.11
SCHW, 1.94, 3.63
CMA, 1.92, -5.47
NFLX, 1.71, 17.08
ANTM, 1.68, 12.07
MS, 1.56, 6.33
A, 1.5, 3.02
CRM, 0.66, -0.48
AON, 0.64, 5.94
DE, 0.43, 0.23
PCAR, 0.33, 11.63
SYF, 0.19, -10.83
BRK.B, nan, nan
COF, 0.17, -2.97
WELL, 0.11, -12.6
DHR, 0.02, 19.05
REG, 0.01, -16.32
ITW, -0.1, 5.93
AKAM, -0.15, 8.9
COG, -0.23, 21.16
MSFT, -0.38, 11.81
AMZN, -0.39, 23.25
ADI, -0.56, 14.36
WY, -0.58, 7.28
PNW, -0.64, -2.77
QRVO, -0.7, 7.67
EXC, -1.0, 0.03
XOM, -1.3, 12.65
BSX, -1.53, 17.44
FOX, -1.84, -0.33
HPQ, -1.99, -16.39
CXO, -2.1, 18.5
STT, -2.92, 17.35
AZO, -3.48, 18.31
BXP, -3.53, -1.71
MDLZ, -3.78, 5.76
GRMN, -3.84, 6.32
XLNX, -3.87, 11.78
CNC, -3.88, 21.06
FB, -4.06, 16.36
CSX, -4.27, 8.96
GS, -4.43, 6.76
GWW, -4.47, 8.27
ICE, -4.78, 11.4
AAP, -5.14, 21.08
SNA, -5.37, 2.23
GD, -5.45, -2.1
APD, -5.57, 8.37
VFC, -5.71, -11.88
C, -6.03, -6.35
MNST, -6.11, 3.39
EFX, -6.43, 8.03
FRT, -6.71, -11.98
TMO, -6.77, 16.09
VNO, -7.02, 1.97
DUK, -7.12, 5.54
TXN, -7.17, 5.73
XRX, -7.67, -7.47
ADM, -7.82, 4.44
KO, -8.09, 2.57
SO, -8.32, 4.7
MMM, -8.37, 7.95
DISCK, -8.38, 2.08
DG, -8.55, 25.51
AMT, -9.26, 10.55
SIVB, -9.84, 7.27
MO, -10.07, 7.59
ALB, -10.6, 1.77
EXR, -10.68, -1.05
AVY, -10.85, 6.42
GLW, -11.05, -4.72
AEE, -11.46, 1.17
PSA, -11.98, -0.29
WHR, -12.0, 25.7
GILD, -12.21, 7.83
HBI, -12.35, -5.7
ES, -12.65, 9.94
CMCSA, -12.84, 1.8
BDX, -12.89, 22.26
OMC, -13.21, -7.67
XEC, -13.31, 35.06
CBOE, -13.72, 6.28
AVB, -14.51, 5.9
CHD, -14.69, 13.43
ESS, -14.76, 11.49
PKG, -14.77, -1.47
WM, -15.77, 0.82
M, -16.21, -15.49
HRB, -17.15, -7.43
CBRE, -20.12, -1.62
JWN, -28.64, -0.5